$black-1: #000;
$black-2: #111;
$white: #fff;
$green: #168352;


$baseFontsize: 16;

@function rem($pixel) {
    @return calc($pixel/$baseFontsize*1rem);
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Noto Sans JP', 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: calc(28/15);
    color: $black-1;
    background-color: $white;
}

a {
    color: $black-1;
    text-decoration: none;
}

li {
    list-style: none;
}



img {
    max-width: 100%;
    vertical-align: bottom;
}

header {
    position: sticky;
    top: 0;
    z-index: 10000;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
    line-height: 1;
    margin: 0;
}


.total__width {
    width: 91.8%;
    margin: 0 auto;

    @media (min-width: 768px) {
        width: 83.3%;
        max-width: rem(1500);
    }
}


.top__title {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: rem(16);
        font-weight: 600;
        color: $green;

        @media (min-width: 768px) {
            font-size: rem(20);
        }
    }

    h2 {
        font-size: rem(20);
        font-weight: 700;
        margin-top: rem(8);

        @media (min-width: 768px) {
            font-size: rem(28);
            margin-top: rem(15);
        }
    }
}


.total__width--price {
    width: 91.8%;
    margin: 0 auto;
    max-width: rem(600);

    @media (min-width: 768px) {
        width: 57.1%;
        max-width: rem(1500);
    }
}


.section__title {
    background-image: linear-gradient(90deg, $green 0 14%, #ddd 14%);
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: bottom;
    padding-bottom: rem(16);

    @media (min-width: 768px) {
        background-image: linear-gradient(90deg, $green 0 12.5%, #ddd 12.5%);
        background-size: 100% 5px;
        padding-bottom: rem(30);
    }

    h2 {
        font-size: rem(22);
        font-weight: 700;
        color: $black-1;

        @media (min-width: 768px) {
            font-size: rem(28);
        }
    }
}