.case {
    background-color: #f3f9f6;
    padding-top: rem(54);
    padding-bottom: rem(22);

    @media (min-width: 768px) {
        padding-top: rem(61);
        padding-bottom: rem(34);
    }
}

.case {
    .case__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: rem(24);

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: rem(33);
        }
    }
}

.case__box {
    .case__container {
        margin-bottom: rem(26);

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: calc(100vw/1400*369);
            max-width: 369px;
        }
    }

    a:hover {
        @media (min-width: 768px) {
            opacity: 0.5;
        }
    }
}

.case__box {
    .case__container {
        .case__img {
            background-image: url("/assets/images/case/case_sp_01.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: calc(100vw/390*358);
            max-width: 358px;
            height: calc(100vw/390*201);
            max-height: 201px;

            @media (min-width: 768px) {
                background-image: url("/assets/images/case/case_pc_01.png");
                width: calc(100vw/1400*369);
                max-width: 369px;
                height: calc(100vw/1400*226);
                max-height: 226px;
            }
        }

        p {
            font-size: rem(18);
            font-weight: 700;
            color: #09947b;
            line-height: 1.75;
            margin-top: rem(8);
            margin-left: rem(2);
            margin-right: rem(2);

            @media (min-width: 768px) {
                font-size: rem(19);
                margin-left: 0;
            }
        }
    }
}

.case__box {
    .case__wrap--2 {
        .case__container {
            .case__img {
                background-image: url("/assets/images/case/case_sp_02.png");

                @media (min-width: 768px) {
                    background-image: url("/assets/images/case/case_pc_02.png");
                }
            }
        }
    }

    .case__wrap--3 {
        .case__container {
            .case__img {
                background-image: url("/assets/images/case/case_sp_03.png");

                @media (min-width: 768px) {
                    background-image: url("/assets/images/case/case_pc_03.png");
                }
            }
        }
    }
}