.footer {
    background-color: $green;
    height: rem(68);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        height: rem(96);
    }
}

.footer {
    a {
        font-size: rem(13);
        color: $white;

        @media (min-width: 768px) {
            font-size: rem(14);
            letter-spacing: rem(1);
        }
    }

    .footer__faq {
        @media (min-width: 768px) {
            letter-spacing: -0.1px;
        }
    }

    .footer__border {
        height: rem(20);
        width: rem(1.5);
        margin: 0 rem(16);
        background-color: $white;
        ;

        @media (min-width: 768px) {
            height: rem(24);
            margin: 0 rem(20);
        }
    }
}