.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(63);
    padding-left: rem(16);
    padding-right: rem(12);
    background-color: $white;

    @media (min-width: 768px) {
        height: rem(114);
        padding-left: calc(100vw/1400*116);
    }
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(197);

    @media (min-width: 768px) {
        width: rem(263);
    }

    h1 {
        display: flex;
    }
}


.nav__button {
    @media (min-width: 768px) {
        display: none;
    }

    i {
        font-size: rem(32);
        margin-top: rem(9);
    }
}

.nav {
    display: none;
    position: absolute;
    top: rem(63);
    left: 4%;
    z-index: 1000;
    width: 91.9%;
    height: rem(210);
    background-color: $green;
    border-radius: 24px;

    @media (min-width: 768px) {
        position: static;
        display: flex;
        background-color: $white;
        height: auto;
        width: auto;
    }

    .nav__list {
        margin: 0;
        padding: rem(22) 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px) {
            flex-direction: row;
            margin-right: calc(100vw/1400*103);
            margin-bottom: rem(0);
            padding-top: rem(0);
        }

        li {
            margin-bottom: rem(12);

            a {
                font-size: rem(18);
                font-weight: 700;
                text-align: center;
                color: $white;
                margin-top: rem(39);

                @media (min-width: 768px) {
                    font-size: rem(16);
                    color: $black-1;
                }
            }

            .nav__list--green {
                @media (min-width: 768px) {
                    color: $green;
                }
            }
        }
    }
}

.nav__list {
    li:nth-child(1) {
        @media (min-width: 768px) {
            display: none;
        }
    }

    li:nth-child(3) {
        @media (min-width: 768px) {
            margin-left: rem(38);
        }
    }
}




.header__logo {
    .header__logo--img {
        display: flex;
    }

}