.price-spec {
    padding-top: rem(32);
    padding-bottom: rem(70);

    @media (min-width: 768px) {
        padding-top: rem(30);
        padding-bottom: rem(72);
    }
}


.price-spec__width {
    @media (min-width: 768px) {
        width: 92.5%;
        margin: 0 auto;
    }
}

.price-spec__sub-title {
    border-left: 2px solid $green;
    height: rem(30);
    margin-top: rem(24);
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
        border-left: 3px solid $green;
        height: rem(40);
        margin-top: rem(32);
    }

    h3 {
        font-size: rem(20);
        font-weight: 700;
        margin-left: rem(16);

        @media (min-width: 768px) {
            font-size: rem(24);
        }
    }
}


.price-spec__table {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
    margin: rem(16.5) auto 0;

    @media (min-width: 768px) {
        margin-top: rem(24);
        max-width: 1400px;
    }

    tr {
        border: solid 1px #ddd;
    }

    .price-spec__table--title {
        display: block;
        border-bottom: solid 1px #ddd;
        border-collapse: collapse;
        background-color: #f5f5f5;
        font-size: rem(16);
        font-weight: 700;
        text-align: left;
        box-sizing: border-box;
        padding: rem(4) rem(19);

        @media (min-width: 768px) {
            display: table-cell;
            width: 27%;
            padding: rem(16) rem(33) rem(16) rem(18);
            border-right: solid 1px #ddd;
        }
    }

    .price-spec__table--content {
        display: block;
        border-collapse: collapse;
        font-size: rem(16);
        box-sizing: border-box;
        padding: rem(4) rem(19);
        letter-spacing: rem(-.1);

        @media (min-width: 768px) {
            display: table-cell;
            width: 73%;
            padding: rem(4) rem(22);
        }
    }
}